[Desktop Entry]
Name=Roblox
Comment=Roblox client powered by Mocktail
Exec=roblox %u
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/roblox;x-scheme-handler/roblox-player;
